<div class="row">
    <div class="col s12">
        <div class="card blue-grey blue-grey lighten-5">
            <div class="card-content blue-text center-align">
                <span class="card-title">My stories</span>
            </div>
        </div>
    </div>
</div>
{{#if this}}
<div class="row">
    {{#each this}}
    <div class="col s12 m6 l4">
        <div class="card grey lighten-5">
            <div class="card-content">
                <h3 class="card-title center-align"><a href="#/stories/{{id}}">{{title}}</a></h3>
                <p>{{starting}}</p>
                <br />
                <div class="details-container">
                    <span class="posted_on"><i>Posted {{formatRelative posted_on}}</i></span>
                    <span class="likes"><i class="material-icons left">thumb_up</i>{{num_vote_up}}</span>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="#/stories/{{id}}">Read more</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<div class="row">
    <div class="col s12">
        <div class="card blue lighten-4">
        <div class="card-content center-align blue-text">
            <span class="card-title">You don't have any stories yet.</span>
        </div>
    </div>
    </div>
</div>
{{/if}}

<div id="add-story" class="fixed-action-btn vertical click-to-toggle">
    <a class="btn-floating btn-large blue darken-3">
        <i class="material-icons">add</i>
    </a>
</div>