<div class="row">
    <div class="col s12">
        <div class="card blue-grey blue-grey lighten-5">
            <div class="card-content center-align blue-text">
                <span class="card-title"><b>{{title}}</b></span>
            </div>
        </div>
    </div>
</div>

{{#if storyline_set}}
<div class="col s12 story-content-container">
    <div class="card blue-grey blue-grey lighten-5">
        <div class="card-content black-text">
            <span class="card-title storyline-container">
                {{#each storyline_set}}
                    <div class="author-container">
                        <div class="hide" class="info-container" id="info-container-{{id}}">
                            <div class="card-title left-align">
                                <div id="authorPanel">
                                    <div class="chip">
                                        <img src="{{author.profile_image}}" alt="Profile image">
                                        <a href="#/profile/{{author.user.id}}"><b>{{author.user.username}}</b></a>
                                    </div>

                                    {{#if ../editable}}
                                        <span class="delete-storyline-button right" id="delete-{{../id}}-storyline-{{id}}"><i class="material-icons grey-text text-darken-2">delete</i></span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <span id="storyline-{{id}}" class="storyline">{{content}}</span>
                    </div>
                {{/each}}
            </span>
            <div class="likes-panel left-align">
                {{#if have_voted}}
                    <div class="blue-text">
                        <i class="material-icons unvote">thumb_up</i>{{num_vote_up}}                    
                    </div>
                {{else}}
                    <div class="black-text">
                        <i class="material-icons vote">thumb_up</i>{{num_vote_up}}                    
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="row">
    <div class="col s12">
        <div class="card blue lighten-4">
            <div class="card-content center-align blue-text">
                <span class="card-title">There are no storylines so far. Be the first one to contribute.</span>
            </div>
        </div>
    </div>
</div>
{{/if}}

<div class="row add-storyline-container center-align form-wrapper">
    <div class="input-field col s12">
        <textarea class="materialize-textarea storyline-container" name="new-storyline" id="new-storyline"></textarea>
        <label for="new-storyline">Add the next storyline</label>
    </div>
    <button class="waves-effect waves-light btn blue darken-3 submit" id="add-storyline"><i class="material-icons right">navigation</i>Add storyline</button>
</div>
