<div class="author-container">
    <div class="hide" class="info-container" id="info-container-{{id}}">
        <div class="card-title center-align">
            <div class="chip">
                <img src="{{author.profile_image}}" alt="Profile image">
                <a href="#/profile/{{author.user.id}}"><b>{{author.user.username}}</b></a>
            </div>

            {{#if editable}}
                <span class="delete-storyline-button" id="delete-{{../id}}-storyline-{{id}}"><i class="material-icons">not_interested</i></span>
            {{/if}}
        </div>
    </div>
    <span id="storyline-{{id}}" class="storyline">{{content}}</span>
</div>